* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.clr_wrapper {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  display: none;
}
.clr_wrapper > .clr {
  margin: 5px;
}
.nav {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.nav,
.nav div,
.nav > input,
button {
  margin: 5px;
}
.clr.active {
  transform: scale(1.25);
}
.clr:hover:not(.clr.active) {
  transform: scale(1.1);
}
.clr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #000;
  transition: transform 0.2s;
}
.clr:nth-child(2) {
  background-color: red;
}
.clr:nth-child(3) {
  background-color: orange;
}
.clr:nth-child(4) {
  background-color: blue;
}
.clr:nth-child(5) {
  background-color: purple;
}
.clr:nth-child(6) {
  background-color: yellowgreen;
}
.clr:nth-child(7) {
  background-color: yellow;
}
.clr:nth-child(8) {
  background-color: #fff;
}
button {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #03bb56;
}
button:hover {
  cursor: pointer;
}
#save {
  background-color: #0f65d4;
}
#ageOutputId {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .clr_wrapper {
    display: flex;
  }
  .nav > .clr {
    display: none;
  }
}
